## HOW TO CREATE CSV_FILE

In [1]:
# IMPOERT LIBRARIES

import pandas as pd

In [2]:
# CREATE A DATAFRAM USING DICTIONARY

df = {
    "ITEMS": ["APPLE","ORANGE","GRAPES","BANANA","MANGO"],
    "per kg":["RS.200","RS.150","RS.250","RS.100","RS.120"],
    "2 kgs":["RS.400","RS.300","RS.500","RS.200","RS.240"]
}

In [3]:
# DATAFRAME

DF = pd.DataFrame(df)

In [4]:
DF

    ITEMS  per kg   2 kgs
0   APPLE  RS.200  RS.400
1  ORANGE  RS.150  RS.300
2  GRAPES  RS.250  RS.500
3  BANANA  RS.100  RS.200
4   MANGO  RS.120  RS.240

# CREATE CSV FILE

In [5]:
DF.to_csv("/home/saiviswas/DATA-ANALYSIS-PYTHON/FRUITS_DATA.csv")

### Please check the selected path for CSV file and load the data as ("pd.read_csv")

In [7]:
# LOAD CSV FILE FROM  THE PATH

DATA = pd.read_csv("/home/saiviswas/Documents/FRUITS.csv",index_col = 0)

In [8]:
# READ DATA

DATA

    ITEMS  per kg   2 kgs
0   APPLE  RS.200  RS.400
1  ORANGE  RS.150  RS.300
2  GRAPES  RS.250  RS.500
3  BANANA  RS.100  RS.200
4   MANGO  RS.120  RS.240